/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial;
    background: #0f172a;
    color: #e2e8f0;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: #020617;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav a {
    color: #e2e8f0;
    text-decoration: none;
}

/* Sections */
.section {
    padding: 60px 20px;
    text-align: center;
}

/* Cards */
.card {
    background: #1e293b;
    padding: 20px;
    margin: 15px auto;
    width: 80%;
    border-radius: 10px;
}

/* Button */
button {
    padding: 10px 20px;
    background: #3b82f6;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

/* Animation */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: 1s;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

/* Responsive */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
    }
}